<div class = banner>
  <div class="question">
    <h1> <%= @question %> </h1>
    <p>YOU</p>
  </div>
  <div class="answer">
    <h1> <%= @answer %> </h1>
    <p>COACH</p>
  </div>
  <%= link_to  "Ask another question", "/ask" %>
</div>
